* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    width: 100%;
    height: 100%;
}

header {
    
    text-align: center;
    padding: 20px;
    font-size: 30px;
}

#subtitle {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
    color :white;
}
#container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    margin-top: 20px;
    background-color: black;
    width: 100%;
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    
}

body {
    background: linear-gradient(135deg, #6a00ff, #b44bff);
    font-family: Arial, sans-serif;
}

div {
  background-color: lightgrey;
    width: 100%;
    max-width: 320px;
  border: 2px solid rgb(29, 2, 77);
  padding: 50px;
  margin: 20px;
  background-color: rgb(8, 43, 2);
  box-shadow: 5px 5px 10px rgba(106, 12, 12, 0.5);
}

#button_press {
    background-color: #6a00ff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: auto;
    width: fit-content;
}

#description {
    font-size: 10px;
    color: white;
    margin-top: 10px;
}

#card {
    width: 260px;
    padding: 30px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
    text-align: center;
    color: white;
    transition: transform 0.2s ease, background 0.2s ease;

}

#card:hover {
    transform: translateY(-5px);
    background: rgba(255, 255, 255, 0.25);
}

    