<!DOCTYPE html>
<html>

<head>
    <title>

        lobby
    </title>
    <link rel = "stylesheet" href ="static/lobby.css">
</head>

<body data-lobby-id="{{lobby_id}}" data-nickname="{{nickname}}">
{% if lobby_id %}
Lobby ID: {{lobby_id}} Name: {{nickname}}
{% endif %}



<div class="container">

    <!-- LEFT SIDE -->
    <section class="lobby">
        <h1>Game Lobby</h1>
       

        <div class="lobby-code-box">
            <span class="label">Lobby Code</span>
            <div class="code-row">
                <span id="lobbyCode">{% if lobby_id %}
                {{lobby_id}}
                {% endif %}</span>
                <button id="copyBtn">Copy</button>
            </div>
        </div>

       
        <h2 id="playerCount">Players (0)</h2>
        <ul class="players" id="playersList"></ul>
    </section>

    <!-- RIGHT SIDE -->
    <section class="settings">
        <h1>Game Settings</h1>
        <p class="subtitle">Configure your coding challenge</p>

        <label>Programming Language</label>
        <select id="language" onchange="updateTopicDropdown(); updateSettings();">
    <option value="Python">Python</option>
    <option value="JavaScript">JavaScript</option>
    <option value="Java">Java</option>
    <option value="C++">C++</option>
</select>

        <label>Difficulty</label>
        <select id="difficulty" onchange="updateSettings()">
            <option>Easy</option>
            <option>Medium</option>
            <option>Hard</option>
            <option>Expert</option>
        </select>

        <label>Topic</label>
<select id="topic" onchange="updateSettings()">
    <option value="">Select a topic</option>
</select>

        <button class="start-btn"onclick="startGame()" >Start Game</button>
    </section>

</div>


<!--Old code below -->

<div>
    <strong>Last Action:</strong>
    <div id="last-action"></div>
</div>





<script src="/static/lobby_scripts.js"></script>
</body> 
</html>
